{
    "plugins": [
        "syntax-dynamic-import"
    ],
    "presets": [
        [
            "@babel/preset-react",
            {
                "pragma": "h",
                "pragmaFrag": "Fragment"
            }
        ],
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": [
                    "Chrome >= 60",
                    "Safari >= 10.1",
                    "iOS >= 10.3",
                    "Firefox >= 54",
                    "Edge >= 15"
                ]
            }
        ]
    ]
}