.aspect-ratio {
  aspect-ratio: var(--aspect-ratio);
}

@supports not (aspect-ratio: 16 / 9) { 
  .aspect-ratio::before {
    float: left;
    padding-top: calc(100% / (var(--aspect-ratio)));
    content: '';
  }
  
 .aspect-ratio::after {
    display: block;
    content: '';
    clear: both;
  }
}
* {
  padding: 0;
  margin: 0;
}


.veiwport {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

figcaption {
  background-color: rgba(0, 0, 0, 0.397);
  color: white;
  position: sticky;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.set_aspect__ratio_none::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'  viewBox='0 0 1 1'%3E%3C/svg%3E");
}


.set_aspect__ratio16x9::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E");
}

.set_aspect__ratio9x16::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 16'%3E%3C/svg%3E");
}

.aspectRatioSizer {
  display: grid;
}
.aspectRatioSizer::before,
.aspectRatioSizer > * {
  grid-area: 1 / 1 / -1 / -1;
}


html {font-size: 62.5%;} /*10px*/

body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

.small, .text_small {font-size: 0.833rem;}

.hidden {
  color: blue;
  font-size: 3rem
}

.showing {
  color: red;
  font-size: 3rem
}
